<div class="footer-1">
   <div class="footer-1-links">
   {{content.field_social}}
   </div>
   <div class="footer-1-text">
      {{content.field_lets_talk}}
   </div>
   <div class="footer-1-button">
      {{content.field_contacty}}
   </div>
</div>