<div class="footer-2">
   <div class="footer-2-image">
   {{content.field_1st_image}}
   </div>
   <div class="footer-2-text">
      {{content.body}}
   </div>
   <div class="footer-2-image2">
      {{content.field_2nd_image}}
   </div>
</div>