<div class="footer-content">
   <div class="footer1-about">
         {{content.body}}
   </div>
   <div class="latest-blog">
   {{content.field_about_us}}
   </div>
   <div class="contact-us-foot">
      {{content.field_long_contact_us}}
   </div>
</div>