<div class="main-para">
  <div class="image-with-text">
    <div>
      {{content.field_email_image	}}
    </div>
    <div>
    {{content.field_email}}
    </div>
  </div>
  <div class="body-para">
  {{content.field_para_body}}
  </div>
</div>